.parallax-container {
  perspective: 1px;
  height: 100%;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 100%;
  background-size: 50% 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  will-change: transform;
}